extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')
    link(rel='stylesheet' type='text/css' href='/public/css/add-review.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    script(src='/public/js/add-review.js')

block content
    include include/header.pug
    .body-header-container
        h3(class='body-header-container__item body-header-container__item--text') My Books &gt; Add Review
    .body-book-container
        img(class='book-container__item book-container__item--cover')
        .book-container__text-container
            h4(class='book-container__text-item book-container__text-item--title'): a(class='book-title__link')
            h5(class='book-container__text-item book-container__text-item--authors'): a(class='book-authors__links')
    form
        .body-rating-shelf-container
            .body-rating-container
                p(class='rating-container__text rating-container__text--my-rating') My rating:
                .stars
                    <svg class='star-off' id='1-star' xmlns="http://www.w3.org/2000/svg" width="108" height="110">
                    <path d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
                    </svg>
                    <svg class='star-off' id='2-stars' xmlns="http://www.w3.org/2000/svg" width="108" height="110">
                    <path d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
                    </svg>
                    <svg class='star-off' id='3-stars' xmlns="http://www.w3.org/2000/svg" width="108" height="110">
                    <path d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
                    </svg>
                    <svg class='star-off' id='4-stars' xmlns="http://www.w3.org/2000/svg" width="108" height="110">
                    <path d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
                    </svg>
                    <svg class='star-off' id='5-stars' xmlns="http://www.w3.org/2000/svg" width="108" height="110">
                    <path d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
                    </svg>
            .body-shelves-container
                label(for='bookshelves') Bookshelves:
                .shelves-container__select-container
                    select(class='shelves-container__select' id='bookshelves')
            .review-content-container
                label(for='content') What did you think?
                textarea(class='review-container__item review-container__item--content' id='content')
            .submit-container
                button(type="submit") Post
    include include/footer.pug