extends layout.pug

append head
	link(rel='stylesheet' href='/public/css/book-page.css')
	link(rel="stylesheet" href="/public/css/header.css")
	link(rel='stylesheet' href='/public/css/footer.css')
	script(src='/public/js/book.js' type='module' defer)
block content
	.page-container
		.hidden #{bookId}
		.title-container
			#title
			.series-container
				h2#series
			.author-container
				#author
		.cover-container
			img#cover
		div(class='select-shelves-placeholder') <span class='bookshelves-text'>Manage Bookshelves</span>
			span(class='shelf-arrow-placeholder') ▾
			form
				.shelve-list-container.hidden
					ul.shelves__dropdown--default-checks
						li.currently-reading
							label(for='currently-reading') Currently Reading
							input(type='radio' id='currently-reading' name='defaultShelf')
						li.read
							label(for='read') Read
							input(type='radio' id='read' name='defaultShelf')
						li.want-to-read
							label(for='want-to-read') Want to Read
							input(type='radio' id='want-to-read' name='defaultShelf')
					ul.shelves__dropdown--created-shelves
		.sum-container
			#summary
		.review-container
			.review-field
				#rating-container
					span#rating-title My rating:
					.stars#star-container
						<svg class='star' id='star-view-1' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio>
						<path id='star-path-1' d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
						</svg>
						<svg class='star' id='star-view-2' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio>
						<path id='star-path-2' d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
						</svg>
						<svg class='star' id='star-view-3' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio>
						<path id='star-path-3' d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
						</svg>
						<svg class='star' id='star-view-4' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio>
						<path id='star-path-4' d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
						</svg>
						<svg class='star' id='star-view-5' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio>
						<path id='star-path-5' d="M54,5 86,105 1,43H107L22,105" fill="#808080"/>
						</svg>
					span#clear-rating Clear
				.review-content-container
					p#what-did-you-think What did you think?
					textarea(class='review-container__item review-container__item--content' name='content' id='content' placeholder='Enter your review')
				.submit-container
					button.submit-button(type="submit") Post
			table#reviews
				tr#review-title
					th Reviews
