extends layout.pug

append head
	link(rel='stylesheet' type='text/css' href='my-books.css')
	link(rel='stylesheet' type='text/css' href='header.css')
	link(rel='stylesheet' type='text/css' href='footer.css')
	script(src='/js/book.js' type='module' defer)
block content
	include include/header.pug
	.hidden(display='none') #{bookId}
	.cover-container
	include include/footer.pug