extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='my-books.css')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='footer.css')
    script(src='js/my-books.js')

block content
    include include/header.pug
    .content-container
        .content__left-bar
            .content__left-bar--bookshelves
                .bookshelves__defaults
                    h3(class='defaults__item defaults__item--header') Bookshelves <a>(Edit)</a>
                    ul(class='defaults__item defaults__item--list')
        .content__book-table
            h3(class='book-table__item book-table__item--header') My Books
            table(class='book-table__item book-table__item--table')
                thead
                    tr.no-border
                        th cover
                        th title
                        th author
                        th avg rating
                        th your rating
                        th shelves
                        th review
                        th date read
                        th date added
                tbody

    include include/footer.pug