extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    link(rel="stylesheet", type='text/css' href="/public/css/profile.css")
    script(src='/public/js/profile.js' type='module' defer)

block content
    .content-container
        .profile-image
            img(src="/public/images/profile-pic.png", alt="").profile-img
            br
            .user-stats
                p 18 ratings (4.72 avg)
                p 5 reviews
        .user-details
            h1.username Jerel Smith
            .activity-container
                .activity-title Activity
                .activity-content Joined in February 2016, last active this month
            .user-bookshelves
                h2.bookshelves-header JEREL'S BOOKSHELVES
                .bookshelves-container
                    p.bookshelf read (20)
                    p currently-reading (1)
