extends layout.pug

append head
    link(rel='stylesheet' type='text/css' href='/public/css/footer.css')
    link(rel='stylesheet' type='text/css' href='/public/css/header.css')
    script(src='/public/js/profile.js' type='module' defer)

block content
    .content-container
        .profile-image
            img(src="/public/images/profile-pic.png", alt="")
            br
            .user-stats
                p
                p
                p
        .user-details
            h1
            div
            div
            div
            div
            .user-bookshelves
                h2
