@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Red+Rose:wght@300;400;700&display=swap');

.hidden {
    display: none;
}

.page-container {
    display: grid;
    justify-content: center;
    text-align: left;
    grid-template-columns: 150px 452px 300px;
    grid-template-rows: auto;
    grid-template-areas:
        'cover title .'
        'button info .'
        '. author .'
        '. summary .'
    ;
}

#cover {
    grid-area: cover;
    width: 150px;
    height: 213px;
    margin: 0px 0px 10px;
}

.sum-container {
    grid-area: summary;
    font-family: 'Merriweather', serif;
}

.title-container {
    grid-area: title;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    color: #333333;
    line-height: 1.2;
    margin-top: 10px;
}

.series-container {
    grid-area: info;
    font-family: 'Merriweather', serif;
    color: #999999;
    margin-top: 0px;
    padding-top: 0px;
}

.author-container {
    grid-area: author;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

.read-button {
    grid-area: button;
    justify-self: center;
}