* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

.content-container {
    min-height: 750px;
}

.book-list-item__cover {
    width: 100px;
    height: 150px;
}

.book-list-item {
    display: flex;
}
