* {
    padding: 0;
    margin: 0;
}

body:not(.header__left) {
    font-family: Helvetica;
}

.body-content-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 6vh);
}

.body-content-container {
    grid-column: 2/4;
}

.body-header-container {
    margin-top: 1.5vh;
    grid-row: 1/2;
}

.body-header-container__item--text {
    font-size: 2.7vh;
    font-weight: 550;
}

.book-link-header {
    text-decoration: none;
    color: #00635D;
}

.body-book-container {
    display: flex;
    margin-top: 2vh;
    grid-row: 2/5;
}

.book-container__item--cover {
    height: 14vh;
}

.book-container__text-container {
    margin-left: 1vw;
    margin-top: 2vh;
    /* margin-top: auto;
    margin-bottom: auto; */
}

.book-container__text-item--title {
    font-size: 2.2vh;
    color: black;
}

.book-title__link {
    text-decoration: none;
    color: black;
}

.book-container__text-item--authors {
    color: black;
    font-weight: 540;
    font-size: 1.8vh;
    margin-top: 1.2vh;
}

form {
    grid-row: 5 / 12;
}

.body-rating-shelf-container {
    grid-row: 5 / 8;
}

.body-rating-container {
    margin-top: 2vh;
    display: flex;
    grid-row: 6 / 7;
}

.rating-container__text--my-rating {
    display: inline-block;
    padding-top: 1vh;
}

.stars {
    display: inline-flex;
    margin-left: 1vw;
}

svg {
    height: 3.2vh;
    padding-right: 0.4vw;
}

.clear-rating {
    display: block;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: auto;
}

.body-shelves-container {
    position: relative;
}

.shelf-arrow-placeholder {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

.shelve-list-container {
    position: absolute;
    background-color: white;
    z-index: 1;
}

.hidden {
    display: none;
}