* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

footer.footer {
    margin: 0;
}

body {
    font-family: Helvetica;
}

.content-container {
    min-height: 750px;
    display: flex;
}

.content__left-bar {
    min-height: 750px;
    width: 210px;
    margin-left: 160px;
    background-color: #789DC4;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.content__book-table {
    margin-top: 3vh;
}

.book-table__item--header {
    margin-left: 20px;
}

table {
    margin-top: -20px;
    border-spacing: 20px;
}

.default__item--list {
    list-style: none;
}

.content__added-bookshelves {
    margin-top: 16px;
}

.content__added-bookshelves--list {
    list-style: none;
}

.cover {
    height: 120px;
    width: 80px;
}

.title-cell {
    width: 140px;
}

table li {
    list-style: none;
}

.content__left-bar--bookshelves {
    margin-left: 1.4vw;
    margin-top: 7vh;
}

.default__item--header {
    color: white;
}

.content__left-bar--bookshelves a {
    color: white;
    text-decoration: none;
}

.content__left-bar--bookshelves li {
    display: inline-block;
    margin-top: 1vh;
}

.content__left-bar button {
    background-color: #787878;
    border: none;
    height: 3vh;
    width: 3.8vw;
    border-radius: 4px;
    font-size: 1.2vh;
    font-weight: bold;
    color: white;
    font-family: Helvetica;
}

.content__left-bar input {
    border-radius: 4px;
    border: 1px gray solid;
    height: 2.5vh;
}

.delete-shelf {
    margin-left: 0.8vw;
}

.add-bookshelf-form {
    margin-top: 2vh;
}

.add-shelf {
    margin-top: 1vh;
}