.content-container {
    min-height: 750px;
    display: flex;
    font-family: Helvetica;
    justify-content: center;
    margin-top: 35px;
}

.profile-image {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 63px;
}

.profile-img {
    width: 20vw;
    height: 37vh;
    border-radius: 50%;
}

.username {
    border-bottom: .5px solid;
    margin-bottom: 11px;
}

.activity-container {
    display: flex;
    flex-direction: row;
}

.activity-title {
    font-weight: bold;
    margin-right: 202px;
}

.user-bookshelves {
    margin-top: 213px;
}

.bookshelves-header {
    border-bottom: .5px solid;
}